<!DOCTYPE html />
<html>
    <head>
    <title>@T("Available Tokens")</title>
    @Display(Layout.Head)
    </head>
<body>
    @Display.TokenHelp(Targets: new string[0])
    @Display(Layout.Tail)
</body>
</html>